* {
  text-align: center;
  font-size: 29px;
  font-family: 'Lakki Reddy', cursive;
}

.cover {
  background-color: rgba(0, 0, 0, 0.637);
  width: 100%;
  height: calc(100vh - 100px);
}

p {
  text-align: center;
  color: bisque;
}

h3 {
  padding-top: 5%;
  padding-bottom: 5.5%;
}

.w {
  color: aliceblue;
}

.e {
  color: greenyellow;
}

.l {
  color: aqua;
}

.c {
  color: brown;
}

.o {
  color: crimson;
}

.m {
  color: green;
}

.e {
  color: red;
}

.nav-link:hover {
  background-color: darkorange;
}
